<p>
Hi Admin,
</p>
<p>
This e-mail is in response to a request made on our website to receive your Atma Login Id.
</p>
<p>
Your Atma LoginId - <strong>$LoginId</strong>
</p>
</p>
For help with any other features on the website, please email us at: support@atma.com
</p>
<br />
<p> 

</p>
<p>
<i>Team Atma</i>
</p>
<br /><br />
<p style="font-size:10px;">
Email Disclaimer:
The information in this email and any attachments are intended for the addressee only. It may contain confidential or legally privileged information. If you are not the intended recipient, you are hereby notified that any disclosure, copying, distribution or taking any action in reliance on the contents of this information is strictly prohibited and may be unlawful. If you are not the intended recipient, please delete this message and any attachments and request your advising the sender by return email, Thank you.
</p>