<table cellspacing="2">
    <tr width="500px">
        <th colspan="2">A new Module user has been registered.</th>
    </tr>
    <tr width="600px">
        <td style="background-color:#DDD;padding:5px;width:300px;">Module User  Name </td>
        <td style="background-color:#EEE;padding:5px;">$adminName</td>
    </tr>
    <tr width="600px">
        <td style="background-color:#DDD;padding:5px;width:300px;">Module User loginId</td>
        <td style="background-color:#EEE;padding:5px;">$emailAddress</td>
    </tr>
</table>

