Hi $firstName $lastName,<br /><br />

You have just been registered for the Atma Network. <br /><br />

The Atma Team will be reviewing your application and be in touch very shortly. We're looking forward to sharing all our resources with you and getting to know you better.<br /><br />

While you are waiting to move ahead, get to know us better by following us on <a href="https://www.facebook.com/atmanetwork">FACEBOOK</a>. You 
can also subscribe to our <a href="http://atma.us1.list-manage.com/subscribe?u=51546c7ddadf05cabaa952b57&id=5b93453eb2">NEWSLETTER</a><br /><br />

Best Regards,<br />

<b>The Atma Network Team</b><br/>
Website: <a href="www.atmanetwork.in">www.atmanetwork.in</a><br/>
Office : +91 22 2642 9313<br/><br/>
  
<!-- $atmaImage <br/> -->   
<!-- <img src="$atmaImage" alt="Atma Signature"><br/> -->
<!-- <img src="http://localhost:8181/resources/img/atmaSignature.png" alt="Atma Signature"><br/> -->
	
<b>Atma empowers grassroots education NGOs to become bigger, better & stronger.</b><br/> 
Address: Guru Vidya, Office No: 501-505, Hill Road, Bandra (West), Mumbai- 400050.<br/>
Want to know more about Atma? Visit <a href="www.atma.org.in">www.atma.org.in</a> | Follow us on <a href="https://www.facebook.com/atmanetwork">Facebook</a> 
or <a href="https://www.linkedin.com/company/7797320">LinkedIN</a>.<br/>
Subscribe to our monthly newsletter, <a href="http://atma.us1.list-manage.com/subscribe?u=51546c7ddadf05cabaa952b57&id=5b93453eb2">here!</a><br/>
