<table cellspacing="2">
    <tr width="500px">
        <th colspan="2">A new Restaurant Admin has been registered.</th>
    </tr>
    <tr width="600px">
        <td style="background-color:#DDD;padding:5px;width:300px;">Restaurant Name</td>
        <td style="background-color:#EEE;padding:5px;">$name</td>
    </tr>
    <tr width="600px">
        <td style="background-color:#DDD;padding:5px;width:300px;">Restaurant Admin Name </td>
        <td style="background-color:#EEE;padding:5px;">$adminName</td>
    </tr>
    <tr width="600px">
        <td style="background-color:#DDD;padding:5px;width:300px;">Restaurant Admin Email</td>
        <td style="background-color:#EEE;padding:5px;">$emailAddress</td>
    </tr>
    <tr width="600px">
        <td style="background-color:#DDD;padding:5px;width:300px;">Restaurant Admin Login Id</td>
        <td style="background-color:#EEE;padding:5px;">$loginId</td>
    </tr>
</table>

