Hi Brand Admin,
<div><br></div>
<div>We would like to inform you, that some Features of your restaurant $restName is changed. &nbsp;</div>
<div><br></div>
<div>Regards</div>
<div><br></div>
<div>Gourmet7</div>