@charset "utf-8";
body {
    font-size: 12px !important;
}
a {
  color: #07A654 !important;
  text-decoration: none;
}
.light {
    font-family: 'open_sanslight';
}
.margin {
    margin-top: 30px;
    margin-left: 30px;
}

.header-bg {
    background-image: url(../img/loginpagebg.jpg);
    min-height: 300px;
    position: relative;
}

.blue-container {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.blue {
    bottom: 0px;
    background: #29414f;
    border-top: #2fc977 3px solid;
    color: #49f297;
    padding: 10px;
}

.col {
    color: #ffffff;
}

.mynav {
    color: red;
}

.mynav ul li a {
    color: black;
}

.mynav ul li a:hover {
    color: #00adee;
    background: none;
}

.block {
    margin: 0 0 10px;
    padding: 20px 15px 1px;
    background-color: #ffffff;
    border: 1px solid #dbe1e8;
}

.block.full {
    padding: 20px 15px;
}

.block-title {
    margin: -20px -15px 20px;
    background-color: #f9fafc;
    border-bottom: 1px solid #eaedf1;
    background-image: url(../img/header-img.jpg);
    padding-bottom: 3px;
    background-position: bottom left;
    background-repeat: no-repeat;
}

.block-title.forum {
    background: #D2D2D2;
}

.forum {
    font-size: 15px;
    font-weight: bold;
    padding: 6px;
}

.block-title h1,
.block-title h2,
.block-title h3,
.block-title h4,
.block-title h5,
.block-title h6 {
    display: inline-block;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    padding: 10px 16px 7px;
    font-weight: normal;
}

.box {
    padding: 0px 0px 10px 5px;
    border: 1px solid gray;
    margin: 0;
}

.heading-cont {
    max-height: 400px;
    overflow: scroll;
    padding-left: 5px;
}

.btn-black {
    color: #000000;
    background: #e0e0e0;
}
.btn-green {
    color: #000000;
    background: #2FC977;
}

.heading {
    max-height: 200px;
    overflow: scroll;
    padding-left: 5px;
}

.footer-color {
    width: 100%;
    background: #29414F;
}

.social-icon {
    margin: 10px;
}

a.a-breadcrumb {
    text-decoration: none;
    color: #000;
}

a.a-breadcrumb:hover {
    text-decoration: none;
    color: #000;
}

.doc-icon {
    font-size: 30px !important;
    display: block;
    text-align: center;
    margin: 10px auto 20px;
    color: #ccc;
    margin-top: 5px!important;
    margin-bottom: 5px!important;
}

.media-devider {
    border-bottom: thin dotted #ccc;
}

.media-devider:nth-last-child(1) {
    border-bottom: 0px;
    ;
}

.rating {
    margin-bottom: 2px!important;
}

.text-blue {
    color: #007335;
}
.text-darkgray {
    color: #29414F !important;
}

.text-white{
	color: #ffffff;
}
.text-yellow {
    margin: 5px 5px 0px 5px;
    color: #ffc000;
}

.text-yellow a {
    color: #FFFFFF;
}

.text-yellow a:hover {
    text-decoration: none;
    color: #ffffff;
}

.topic {
    background: #f6f6f6;
    padding: 5px 10px 5px 10px;
    border-left: 2px solid #007335;
    margin-bottom: 3px;
}

.mandatory {
    color: red;
}

.input-text {
    font-weight: normal;
}

.box-style {
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
}

.project-status {
    text-align: left;
    padding: 0px;
}

.project-start {
/*     margin: 0px 10px 0px 10px; */
    text-align: center;
}

.seprator {
    margin: 20px 15px 20px;
    border-top: thin solid #ccc;
}

.project-left {
    text-align: center;
    margin: 5px 0px 0px 0px;
}

.project-right {
    text-align: center;
    margin: 5px 0px 0px 0px;
}

.container-devider {
    border-top: thin solid #ccc;
    margin-left: -10px;
    margin-right: -10px;
}

.project-acesses {
    margin-left: -10px;
    margin-right: -10px;
}

.project-numbers {
    color: #00adee;
    text-align: center;
    margin: 0px 0px 0px 5px;
}

.strip {
    background-color: #f9fafc;
}

.btn-edit {
    margin: 10px;
    color: #000000;
    background: #ffc000;
}

.text-st {
    margin: 20px 0 0px 0px;
}

.text-rating {
    color: #007335;
}

.link-box {
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 1px solid #cccccc;
    background-color: #fff;
}

.text-link {
    text-align: right;
    color: #007335;
}

.toolbox-scroll {
    overflow-y: hidden;
    max-height: 400px;
}

.Reading-scroll {
    overflow-y: hidden;
    max-height: 150px;
}

.media-scroll {
    overflow-y: hidden;
    max-height: 150px;
}

.circle-highlight {
background-color: #3CF285;
border-radius: 10px;
height: 20px;
width: 20px;
text-align: center;
display: inline-block;
vertical-align: middle;
color: #29414F;
}

.numbers {
    padding: 2px;
}

.comment-box .media {
    margin-top: 0px !important;
    margin-bottom: 3px !important;
    position: relative;
}

.need-help,
.adv,
.sponsor {
    margin-bottom: 10px;
}

ul.footer-menu {
    padding: 0px;
    color: #ffffff;
    margin: 0px;
    margin-top: 7px;
}

ul.footer-menu li {
    list-style: none;
    display: inline-block;
}

ul.footer-menu li a {
    color: #79b5d7;;

    padding: 5px 15px;
}

.coipyrights {
    color: #07A654 ;
    padding: 5px 15px;
}
.coipyrights span {
    color: #ffffff ;
}

.progress {
height: 10px;
 margin-bottom: 2px;
}
@media screen and (max-width: 768px) {
    .blue-container {
        position: relative;
    }
}
/****** CIRCULER PROGRESS *******/

.sui-progressbar-text span {
    text-align: center;
    margin-left: 10px;
}

.sui-progressbar-text {
    text-align: center
}

.lifestage-status {
    font-size: 15px;
    font-weight: normal;
    padding: 0px 10px;
    color: #ffffff;
    margin-top: 15px;
}

.steps {
    background: #314a58;
    max-height: 50px;
}

.bx-wrapper {
    margin-bottom: 0px;
}

.bx-wrapper .bx-pager {
    padding-top: 0px;
    top: 35px;
}

.slide p {
    padding: 10px;
    color : #fff;
}

.question-devider {
    border-bottom: thin dotted #ccc;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.breadcrumb{
    background-color: #fff;
}
ol.breadcrumb li a{
    color: #007335!important;
}
.slide p a{
    color:#2FC977;
}
/*********************************/
/*********************************/
/******** FLUX WIZARD ************/
/*********************************/
/*********************************/
.fuelux .wizard {
    background-color: #f9f9f9;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    /*-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
            -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);*/

    margin-bottom: 10px;
}

.fuelux .wizard:before,
.fuelux .wizard:after {
    display: table;
    line-height: 0;
    content: "";
}

.fuelux .wizard:after {
    clear: both;
}

.fuelux .wizard ul {
    padding: 0;
    margin: 0;
    list-style: none outside none;
}

.fuelux .wizard ul li {
    position: relative;
    float: left;
    height: 46px;
    padding: 0 20px 0 30px;
    margin: 0;
    font-size: 14px;
    line-height: 46px;
    color: #999999;
    cursor: default;
    background: #ededed;
}

.fuelux .wizard ul li .chevron {
    position: absolute;
    top: 0;
    right: -14px;
    display: block;
    border: 24px solid transparent;
    border-right: 0;
    border-left: 14px solid #ffffff;
}

.fuelux .wizard ul li .chevron:before {
    position: absolute;
    top: -24px;
    right: 1px;
    display: block;
    border: 24px solid transparent;
    border-right: 0;
    border-left: 14px solid #ededed;
    content: "";
}

.fuelux .wizard ul li.complete {
    color: #468847;
    background: #f3f4f5;
}

.fuelux .wizard ul li.complete:hover {
    cursor: pointer;
    background: #e7eff8;
}

.fuelux .wizard ul li.complete:hover .chevron:before {
    border-left: 14px solid #e7eff8;
}

.fuelux .wizard ul li.complete .chevron:before {
    border-left: 14px solid #f3f4f5;
}

.fuelux .wizard ul li.active {
    color: #000000;
    background: #2FC977;
}

.fuelux .wizard ul li.active .chevron:before {
    border-left: 14px solid #2FC977;
}

.fuelux .wizard ul li .badge {
    margin-right: 5px;
    background-color: #ffffff;
    color: #000000;
}

.fuelux .wizard ul li:nth-child(1) {
    z-index: 10;
    padding-left: 20px;
    border-radius: 4px 0 0 4px;
}

.fuelux .wizard ul li:nth-child(2) {
    z-index: 9;
}

.fuelux .wizard ul li:nth-child(3) {
    z-index: 8;
}

.fuelux .wizard ul li:nth-child(4) {
    z-index: 7;
}

.fuelux .wizard ul li:nth-child(5) {
    z-index: 6;
}

.fuelux .wizard ul li:nth-child(6) {
    z-index: 5;
}

.fuelux .wizard ul li:nth-child(7) {
    z-index: 4;
}

.fuelux .wizard ul li:nth-child(8) {
    z-index: 3;
}

.fuelux .wizard ul li:nth-child(9) {
    z-index: 2;
}

.fuelux .wizard ul li:nth-child(10) {
    z-index: 1;
}

fuelux .wizard .actions {
    float: right;
    padding-right: 15px;
    line-height: 44px;
    vertical-align: middle;
}

.fuelux .wizard .actions a {
    margin-right: 8px;
    font-size: 12px;
    line-height: 45px;
}

.fuelux .wizard .actions .btn-prev i {
    margin-right: 5px;
}

.fuelux .wizard .actions .btn-next i {
    margin-left: 5px;
}

.fuelux .step-content .step-pane {
    display: none;
}

.fuelux .step-content .active {
    display: block;
}

.fuelux .step-content .active .btn-group .active {
    display: inline-block;
}


.Topic-title {
/*     margin-bottom: 15px; */
}

.topic-box {
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: thin solid #ccc;
}

.forum-label{
    background: #FF3939;
    color:#fff;
    padding: 2px;
    margin-right: 15px;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border: 0px solid #000000;
    position: relative;
    height: 16px;
    display: inline-block;
    font-size: 10px !important;
}
.forum-label:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 57, 57, 0);
    border-left-color: #FF3939;
    border-width: 7px;
    margin-top: -7px;
}

.comment-box .topic img{
    width: 30px;
    height: 30px;
}
/************************* CUSTOME BUTTON **********************/
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#lightbox-img {
   width: 0px;
   height: 0px;
   overflow: hidden;
}

.atma-breadcrumbs{color:#07A654 !important}
.logout-action a{ 
	color:#ffffff !important;
	text-decoration: none;
}
.statements ul{
	padding: 0px;
	margin: 0px;
	
}

.glowing {
-webkit-animation: glowing 1500ms infinite;
 -moz-animation: glowing 1500ms infinite;
 -o-animation: glowing 1500ms infinite;
 animation: glowing 1500ms infinite;
   background: #49f297;
   color: #fff !important;
   padding: 3px;
}

.slider-container {
	margin-bottom : 15px;
	margin-top: 15px;
}

.wrap-word{
word-wrap: break-word;
-ms-word-break: break-all;

    /* Be VERY careful with this, breaks normal words wh_erever */
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

-webkit-hyphens: auto;
  -moz-hyphens: auto;
       hyphens: auto;
}

.popover{
word-wrap: break-word;
}

@media (min-width: 768px){

.navbar-nav > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
}
}


.footer-adjust {min-height:43px;}
.footer-adjust > ul {margin-bottom:1px;}